.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #ed2121;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    display: block;
    border-radius: 2px;
  }
  
  .button:hover,
  .button:active {
    background: #d05560;
    border-color: #f32222;
  }
  
  .button:focus {
    outline: none;
  }